<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Get verified restaurant recommendations"
    />
    <meta name="theme-color" content="#664343" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.png" />
    <link rel="apple-touch-icon" href="/icons/xxxhdpi.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/bb1a606322.js"
      crossorigin="anonymous"
    ></script>
    <title>Ryouri Explorer</title>
  </head>

  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <header>
      <app-bar></app-bar>
    </header>

    <main id="main-content" tabindex="0"></main>

    <footer>
      <footer-bar></footer-bar>
    </footer>
  </body>
</html>
